// Blog Colors
$primary-color: #4682b4;     //steel blue
$secondary-color:#87cefa;   //skyblue
$light-color:#f4f4f4;      //Gray
$dark-color: #333;        //Black


//Fonts & Font attributes
$font-montserrat:'Montserrat', sans-serif;
$font-Raleway:'Raleway', sans-serif;
$font-poppins:'Poppins', sans-serif;

//Fonts measurement
$main-font-size: 62.50%;
$body-font-size: 1.8rem;
