//Import files
@import 'variables';
@import 'functions';
@import 'mixins';




// Default Setting
*{
    margin:0;
    padding: 0;
}


//Main Content
body{
    background: $light-color;
    color:set-text-color($light-color);
    font-family: $font-montserrat;
    line-height: 1.5;
    font-size: $mainFontSize;
}



//-----[ Header ] ------//
header{
    background: $dark-color;
    color:set-text-color($dark-color);
    padding: 1rem;

    // h1 style
    h2{
        text-align: center;
        font-size: 2.1rem;
    }
 
}

//-----[ Section ] ------//
.section{
    padding: 3rem;
    font-size: 1.6 rem;

    // h3
    h3{
        font-size: 2rem;

        &:hover{
            cursor: progress;
        }
    }

    // .section .section-a   : [ & ] :- Refers to the parent element of class or any html tag
   &-a{
       background: $primary-color ;
       color: set-text-color($primary-color);
   }

   //.section .section-b
   &-b{
       background: $secondary-color;
       color: set-text-color($secondary-color);
   }
}

//Shared link button style
%btn-shared{
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    cursor:help;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.2rem;
    border-radius: 10rem;
    @include transition( transform ,  0.3s);
}

.btn {
    &-light {
        @extend %btn-shared;
        background: $light-color;
        color: set-text-color($light-color);

        // btn-light:hover
        &:hover{
            @include transform(rotate(20deg));
            background-color: darken($color:$light-color, $amount: 10%);
        }
    }

    &-dark {
        @extend%btn-shared;
        background: $dark-color;
        color: set-text-color($dark-color);
        
        &:hover{
            @include transform(rotate(-20deg));
            background-color:lighten($color: $dark-color, $amount: 10%)
        }
    }

}


//shared paragraph attributes
%pragraph-shared{
    font-size: 1.6rem;
    font-family: $font-poppins;
    line-height: 2rem;
    font-weight: 100;
    text-align: justify;
}

.pragraph{

    &-light{
        @extend %pragraph-shared;
      
       
    }


    &-dark{
        @extend %pragraph-shared;
       
    }
}







