//Import files
@import 'variables';




// Default Setting
*{
    margin:0;
    padding: 0;
}


//Main Content
body{
    background: $light-color;
    color:$dark-color;
    font-family: $font-montserrat;
    line-height: 1.5;
    font-size: $mainFontSize;
}



//-----[ Header ] ------//
header{
    background: $dark-color;
    color: $light-color;
    padding: 1rem;

    // h1 style
    h2{
        text-align: center;
        font-size: 2.1rem;
    }
 
}

//-----[ Section ] ------//
.section{
    padding: 3rem;
    font-size: 1.6rem;


    // h3
    h3{
        font-size: 2rem;
    }

    // .section .section-a   : [ & ] :- Refers to the parent element of class or any html tag
   &-a{
       background: $primary-color ;
       color: $light-color;
   }

   //.section .section-b
   &-b{
       background: $secondary-color;
       color: $light-color;
   }
}